{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>요기요때</title>

    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>

    <link href="{% static 'select2/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'select2/select2-bootstrap4.css' %}" />
    <script src="{% static 'select2/js/select2.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="content-wrap" class="container-fluid">
{% block content %}
{% endblock %}
</div>
</body>
</html>